html{
	font-family: Open Sans, Arial;
	background-color: white;
}

#header h1{
	width:100%;
	margin: 0px;
	padding:0px;
	color:#2E3E84;
	text-align:center;
}

#header img{
	margin-left: 40px;
	margin-top: -40px;
	width: 6%;
}

.liste_header{
	width:100%;
	padding:10px;
	text-align: center;
	background-color: #2E3E84;
	list-style: none;

}

nav ul li{
	padding:15px;
	margin: 0px;
	display: inline-block;
	list-style: none;
}

nav ul li a{
	padding: 30px;
	margin: 0px;
	text-decoration: none;	
	font-size: 1.4em;
	font-weight: bold;
	color: white;
	text-align: center;

}
nav ul li:hover{
	background-color: #84C4F0;
	border-radius: 50px;
}

body{
	margin: 20px;
	padding: 20px;
}


/*CSS des textes explicatif des différentes pages*/

#presentation{
	width: 60%;
	margin: 30px;
	padding: 20px;
	color: gray;
	font-size: 1.05em;
}
#presentation p{
	padding-top: 1px;
}
#presentation ul{
	margin-top: 40px;
	margin-left: 20px;
}
#presentation ul li{
	padding: 3px;
}
#presentation h3{
	font-size: 1.2em;
	text-decoration: underline dotted;
}

.batiment_jpg{
	width:100%;
	margin:0px;
	padding-left: 10px;
}

/*CSS des enseignements*/
table{
	margin-top: 3%;
	margin-left: 5%;
	color:white;
	width:90%;
	text-align: center;
	border:solid 4px #84C4F0;
	border-collapse: collapse;
}
th{
	font-size: 1.3em;
	padding:10px;
	border:solid 2px #84C4F0;
	background-color: #2E3E84;
}
td{
	padding:10px;
	border:solid 2px #84C4F0;
	background-color: #8B97CA;
}

footer {
	width:96%;
	margin: 0px;
	padding:0px;
	color:grey;
	text-align:center;
	background-color:#ADADAD;
	position: absolute;
	margin-top: 15px;
	padding-bottom: 0px;
}
#footer div{
	font-size: x-small;

}
.titre{
	text-align: center;
	font-style: bold;
	color: #2E3E84;
}
